section {
    /* padding: 3rem 0 3rem 0; */
}

hr {
    margin: 3rem 0 3rem 0;
}

h2 {
    text-align: center;
    padding-top: 20px;
    font-size: 36px;
    color: rgba(89, 140, 225, 100);
}

body {
    margin: 50px auto;
    text-align: center;
    width: 1000px;
}

button {
    /* width: 100px; */
    /* height: 100px; */
}

header#header {
    background-color: #eceff2;
}

footer#footer {
    background-color: #eceff2
}