.schedule th {
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
	text-align: center;
	margin: auto;
}

.schedule th:first-child {
	border-color: transparent;
	width: 140px;
	text-align: right;
}

.schedule td:first-child {
	border-color: transparent;
	width: 140px;
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
	text-align: right;
	padding-right: 5px;
}

#hours-left-text {
	text-align: left;
	margin-top: -5px;
	width: 420px;
	font-size: 0.8em;
	font-style: italic;
}

#title {
	padding-bottom: 20px;
}