h2 {
	text-align: center; padding-top: 20px; font-size:36px; color: rgba(89,140,225,100);
}

.table th {
   text-align: center;   
}

th {
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
  border: 1px solid gray;
  height: 30px;
  padding: 1px;
  text-align: center;
  margin: auto;
}

/* table cells */
td {
  font-size: 16px;
  border: 1px solid gray;
  height: 40px;
  width: 60px;
  padding: 0px;
}

.box {
  background-color: #c9daf8;
}

#grid {
  background-color: white;
  font-size: 20pt;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0px;
  border-color: grey;
	text-align: center;
  margin: 0px auto;
  float: none;
}

#schedule {
	background-color: #ccc;
}

.activity {
	background-color: #c9daf8;
}

.highlight {
	background-color: #c9daf8;
}

.dropzone {
  background-color: #ccc;
  padding: 10px;
  width: 425px;
  height: 200px;
  border: dashed 4px transparent;
  float:left;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.can-drop {
  color: #000;
  background-color: #4e4;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}