body {
    background-color: white;
    text-align: left;
}

h2 {
    text-align: left; padding-top: 20px; font-size:36px;
    color: gray;
    height: 100px;
}

.table th {
    text-align: center;
}

th {
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
    /*border: 1px solid gray;*/
    height: 30px;
    padding: 1px;
    text-align: center;
    margin: auto;
}

/* table cells */
td {
    font-size: 16px;
    /*border: 1px solid gray;*/
    height: 60px;
    width: 60px;
    padding: 0px;
}

.box {
    background-color: #c9daf8;
}

#grid {
    background-color: white;
    font-size: 20pt;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0px;
    border-color: grey;
    text-align: center;
    margin: 0px auto;
    float: none;
}

#scheduler {
    position: relative;
    z-index: -1000;
    height: 60px;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-image:url('../figures/schedule_ticklines.png');
    margin: 0px;
}

.block {
    position: relative;
    z-index: 1000;
    height: 60px;
    width: 60px;
    border-color: #888888;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    box-shadow: 3px 3px 3px #888888;
}

.value-block0 {
    background-image:url('../figures/altheart0_small.png');
}

.value-block1 {
    background-image:url('../figures/altheart1_small.png');
}

.value-block4 {
    background-image:url('../figures/altheart4_small.png');
}

.value-block5 {
    background-image:url('../figures/altheart5_small.png');
}

.value-block6 {
    background-image:url('../figures/altheart6_small.png');
}

.value-block7 {
    background-image:url('../figures/altheart7_small.png');
}

.value-block8 {
    background-image:url('../figures/altheart8_small.png');
}

.value-block9 {
    background-image:url('../figures/altheart9_small.png');
}

.value-block {
    height: 60px;
    width: 60px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-repeat: no-repeat;
    background-position: center center;
    margin:0; /* If you want no margin */
    padding:0; /*if your want to padding */
}

#scheduler-arrow {
    height:66px; /*height of your image*/
    width:20px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image:url('../figures/schedule_arrow.png');
    margin:0; /* If you want no margin */
    padding:0; /*if your want to padding */
    float:left;
}

.dropzone {
    background-color: transparent;
    /*padding: 10px;*/
    width: 420px;
    height: 70px;
    border: dashed 4px transparent;
    float: left;
}

.activity {
    background-color: #c9daf8;
}

.highlight {
    background-color: lightgray;
}

.drop-active {
    border-color: #aaa;
}

.drop-target {
    color: #DDD;
    border-color: #aaa;
}

.dropped {
    background-color: #ccc;
}

.notdropped {
    background-color: #EFF1F4;
}

.can-drop {
    background-color: #C9DAF8 !important;
}

.drop-target {
    border-color: #aaa;
    border: dashed 4px;
}

.gym {
    border-radius: 20px;
    width:60px; /*width of your image*/
    height:60px; /*height of your image*/
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image:url('../figures/heart1_small.png');
    margin:0; /* If you want no margin */
    padding:0; /*if your want to padding */
}

.date {
    border-radius: 20px;
    width: 180px;
    height:60px; /*height of your image*/
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image:url('../figures/heart4_smallgrid.png');
    margin:0; /* If you want no margin */
    padding:0; /*if your want to padding */
}

.hike {
    border-radius: 20px;
    width: 240px;
    height:60px; /*height of your image*/
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image:url('../figures/heart5_smallgrid.png');
    margin:0; /* If you want no margin */
    padding:0; /*if your want to padding */
}

.beach {
    border-radius: 20px;
    width: 300px;
    height:60px; /*height of your image*/
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image:url('../figures/heart7_smallgrid.png');
    margin:0; /* If you want no margin */
    padding:0; /*if your want to padding */
}

#reset {
    padding: 5px;
    background: #aaa;
    width: 80px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    margin: 5px auto;

    position: relative;
    top: 0;

    cursor: pointer;
    border-bottom: 2px solid #888;

    -webkit-transition: top 0.1s linear;
    -moz-transition: top 0.1s linear;
    -ms-transition: top 0.1s linear;
    -o-transition: top 0.1s linear;
    transition: top 0.1s linear;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}

#reset:hover {
    background: #bbb;
    top: -2px;
}

#reset:active {
    background: #999;
    top: 2px;
}

.x-check {
    /*position: absolute;*/
    /*top: 0px;*/
    /*right: 0px;*/
    /*width: 60px;*/
    /*height: 60px;*/
}

#x {
    visibility: hidden;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#check {
    visibility: hidden;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#instruction {
    /*border: 2px dashed lightblue;*/
    text-align:center;
    margin-left: 50px;
    margin-right: 50px;
    /*height: 78px;*/
    padding: 10px;
    font-family: 'Patua One', cursive;
}