body {
    background-color: white;
}

h2 {
    text-align: center; padding-top: 20px; font-size:36px; color: rgba(89,140,225,100);
}

.table th {
    text-align: center;
}

th {
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
    border: 1px solid gray;
    height: 30px;
    padding: 1px;
    text-align: center;
    margin: auto;
}

/* table cells */
td {
    font-size: 16px;
    border: 1px solid gray;
    height: 60px;
    width: 60px;
    padding: 0px;
}

.box {
    background-color: #c9daf8;
}

#grid {
    background-color: white;
    font-size: 20pt;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0px;
    border-color: grey;
    text-align: center;
    margin: 0px auto;
    float: none;
}

#scheduler {
    height: 70px;
}

.activity {
    background-color: #c9daf8;
}

.highlight {
    background-color: #c9daf8;
}

.dropzone {
    background-color: #ccc;
    padding: 10px;
    margin-right: 20px;
    width: 420px;
    height: 70px;
    border: dashed 4px transparent;
    float: left;
}

.drop-active {
    border-color: #aaa;
}

.drop-target {
    color: #FFF;
    border-color: #aaa;
}

.dropped {
    background-color: #ccc;
}

.notdropped {
    background-color: #C9DAF8;
}

.can-drop {
    color: #000;
    background-color: #4e4;
    border: dashed 4px;
}

.drop-target {
    border-color: #aaa;
    border: dashed 4px;
}

.block {
    height: 70px;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
}

#gym {
    width: 60px;
}

#date {
    width: 180px;
}

#hiking {
    width: 240px;
}

#beach {
    width: 300px;
}

#reset {
    padding: 5px;
    background: #aaa;
    width: 80px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    margin: 5px auto;

    position: relative;
    top: 0;

    cursor: pointer;
    border-bottom: 2px solid #888;

    -webkit-transition: top 0.1s linear;
    -moz-transition: top 0.1s linear;
    -ms-transition: top 0.1s linear;
    -o-transition: top 0.1s linear;
    transition: top 0.1s linear;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}

#reset:hover {
    background: #bbb;
    top: -2px;
}

#reset:active {
    background: #999;
    top: 2px;
}