body{
  margin:0;

  font-size: 18px;
  font-weight: 100;
  font-family: sans-serif;
  background-color: white;
}

th {
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
  border: 1px solid navy;
  height: 40px;
  padding: 1px;
  text-align: center;
  margin: auto;
}

/* table cells */
td {
  font-size: 16px;
  border: 1px solid navy;
  height: 40px;
  width: 40px;
  padding: 1px;
}

.box {
  background-color: #c9daf8;
}

#grid {
  background-color: white;
  border-collapse: collapse;
  margin: 15px;
  font-size: 20pt;
  text-align: center;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}

#schedule {
	background-color: grey;
}

.activity {
	background-color: yellow;
}

.highlight {
	background-color: yellow;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.can-drop {
  color: #000;
  background-color: #4e4;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}